<div class="">
  <mat-progress-spinner
    *ngIf="!postList.data.length"
    mode="indeterminate"
    diameter="100"
    strokeWidth="3"
    aria-label="pending for post list query"
  ></mat-progress-spinner>
</div>


<mat-accordion *ngIf="postList.data.length">

  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="['./','new']">
      <mat-icon>add circle</mat-icon> New Post
    </button>
  </div>

  <mat-card>

    <mat-card-title>
      Posts
    </mat-card-title>

    <mat-card-content>

      <mat-table [dataSource]="postList">

        <!-- id -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <!-- title -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-button href="{{ element.guid.rendered }}" target="_blank"> {{ element.title.rendered }} </a>
          </mat-cell>
        </ng-container>

        <!-- status -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
        </ng-container>

        <!-- status -->
        <ng-container matColumnDef="categories">
          <mat-header-cell *matHeaderCellDef> Categories </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.categories }} </mat-cell>
        </ng-container>

        <!-- author -->
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.author }} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>


    </mat-card-content>

  </mat-card>
</mat-accordion>
