<mat-progress-spinner
  *ngIf="loading"
  mode="indeterminate"
  diameter="50"
  strokeWidth="3"
  aria-label="pending for post list query"
></mat-progress-spinner>

<mat-accordion *ngIf="postList.data.length">

  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="['./','new']">
      <mat-icon>add circle</mat-icon> New Post
    </button>

  </div>

  <mat-card>

    <mat-card-title>
      Posts
    </mat-card-title>

    <mat-card-content>

      <mat-table [dataSource]="postList">

        <!-- id -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <!-- title -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.title.rendered }}
              <a
                class="action-btn"
                mat-icon-button
                color="basic"
                href="{{ element.guid.rendered }}"
                target="_blank">
                <mat-icon>launch</mat-icon>
              </a>
              <a
                class="action-btn"
                mat-icon-button
                color="basic"
                [routerLink]="['./','edit', element.id]">
                <mat-icon>edit</mat-icon>
              </a>


          </mat-cell>
        </ng-container>

        <!-- status -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
        </ng-container>

        <!-- status -->
        <ng-container matColumnDef="categories">
          <mat-header-cell *matHeaderCellDef> Categories </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.categories }} </mat-cell>
        </ng-container>

        <!-- author -->
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.author }} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <!-- paginator -->
      <mat-paginator
        *ngIf="postsInfo.totalpages"
        [length]="postsInfo.total"
        [pageIndex]="postsInfo.currentPage"
        [pageSize]="10"
        (page)="pageChangEvent($event)"
      ></mat-paginator>

    </mat-card-content>

  </mat-card>
</mat-accordion>
