// component main style

@import "../../../assets/scss/input.scss";
@import "../../../assets/scss/border.scss";


$cardBg:rgba(189, 192, 186, .3);
$cardBorder: #080808;
$textColor: #fffffb;
$holderColor: #fffffb;

.login-outter {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  .login-form {
    @include border($cardBorder, 20px);
    @include input-group($textColor, $holderColor, 100%);

    width: 280px;
    padding: 15px 10px;
    background-color: $cardBg;

    .btn-login {
      width: 100%;
    }
  }

}
