<pre>
  {{ editPostForm.value | json }}
</pre>

<mat-card>

  <mat-card-title>
    New Posts
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="editPostForm">

      <div class="input-container">

        <div class="main">


          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>
          <!--./post title -->

          <textarea
            matInput
            name="content"
            cols="30"
            rows="30"
            id="ckeditor"></textarea>
          <!--./post content -->
        </div>

        <div class="side">


          <h4>Post Status</h4>
          <mat-radio-group
            class="radio-group"
            formControlName="status">
            <mat-radio-button
              *ngFor="let opt of statusOpt"
              class="radio-button"
              [value]="opt.value">{{ opt.label }}</mat-radio-button>
          </mat-radio-group>
          <div class="clearfix"></div>
          <!-- ./post status radio group -->

          <h4>Post Format</h4>
          <mat-radio-group class="radio-group" formControlName="format">
            <mat-radio-button
              *ngFor="let opt of formatOpt"
              class="radio-button"
              [value]="opt.value">{{ opt.label }}</mat-radio-button>
          </mat-radio-group>
          <div class="clearfix"></div>
          <!-- ./post status option list -->

          <mat-tab-group>
            <mat-tab label="Add Tags">
              <div class="container tabs">

                <div class="post-tags">
                  <div class="input">
                    <mat-form-field class="input">
                      <input matInput placeholder="Post Tags" #tagInput>
                    </mat-form-field>
                  </div>
                  <div class="fab-btn">
                    <button mat-mini-fab (click)="addTag(tagInput)" color="primary" type="button">
                      <mat-icon>add circle</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="clearfix"></div>
                <!-- ./post tag add -->

              </div>
            </mat-tab>

            <mat-tab label="Most used tags">

              <div class="container tabs">
                <mat-chip-list class="mat-chip-list-stacked">
                  <mat-chip
                    *ngFor="let tag of tags"
                    (click)="addTagToCtrl($event, tag)">
                    {{ tag.name }}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-tab>

          </mat-tab-group>

          <h3 *ngIf="tagsList.length > 0">Current tags</h3>
          <mat-list>
            <mat-list-item *ngFor="let tag of tagsList">
              {{ tag.name }}
            </mat-list-item>
          </mat-list>

          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="postPublish($event)">
            Publish
          </button>
          <div class="clearfix"></div>
          <!-- ./button publish -->

        </div>
        <div class="clearfix"></div>
      </div>


    </form>

  </mat-card-content>

</mat-card>
