/* You can add global styles to this file, and also import other style files */

$bgColor: #f1f1f1;

body {
  background-color: $bgColor;
}

.button-row{
  padding-bottom: 8px;
}

.clearfix {
  clear: both;
}

.ck-content {
  min-height: 480px;
}

